body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

.add-form {
    display: none;
}

.status {
    padding: 10px;
}

.error-alert {
    display: none;
}

.command-column {
    width: 100px;
}

.indicator-group {
    margin-top: -1px;
    border: 1px solid #DDDDDD;
    border-top: 1px solid #6F6E6E;
    position: relative;
}

    .indicator-group:nth-of-type(1) {
        border-top: none;
    }

.calculation-type {
    margin: 10px;
}

.indicator {
    border-top: 1px solid #ddd;
}

.indicator {
    display: flex;
}

.indicator-group-row {
    display: flex;
    align-items: center;
}

.center-align {
    display: flex;
    align-items: center;
}

.view-calculation {
    margin: 5px;
    margin-top: 18px;
}

.view-calculation-btns {
    margin-left: 10px;
    max-width: 117px;
}

    .view-calculation-btns button {
        width: 100%;
    }

.view-calculation-description {
    max-width: 419px;
}

.max-point-span {
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
}

.calculations {
    margin-top: 12px;
}

.calculation {
    margin-bottom: 18px;
    border: 2px solid #DBDBDB;
    padding-bottom: 2px;
    margin-left: -1px;
    padding: 4px;
}

.calculation-command {
    float: right;
    margin: 5px;
}

.calculation-text {
    display: block;
    float: left;
    width: 100%;
}


.calculation-description {
    display: inline-block;
    float: left;
    width: 483px;
    margin-left: 5px;
}

    /*.calculation-description[contenteditable="true"]:focus {
        outline: 1px solid #969595;
    }*/

    .calculation-description[contenteditable="true"] {
        outline: 2px dashed rgba(184, 184, 184, 1);
        padding: 5px;
    }

.calculation-index {
    float: left;
    display: block;
}

.ul-list {
    margin: 0;
    padding-left: 15px;
}

.review-line {
    margin: 20px 0;
}

    .review-line .form-group {
        margin: 0 10px;
    }

.add-review {
    margin-bottom: 23px;
}

.checked-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
    left: 0;
    top: 0;
}

.checked-checkbox {
    z-index: 2;
    position: relative;
    width: 47px;
    height: 47px;
}

.checkbox-container {
    font-size: 26px;
}

.control-group .form-group {
    margin: 0;
}

.rank-line {
    margin: 15px 0;
}
.log-date {
  font-size: 11px;
  color: #FF1717;
}

.quot {
  font-weight: 600;
}