body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

.add-form {
    display: none;
}

.status {
    padding: 10px;
}

.error-alert {
    display: none;
}

.command-column {
    min-width: 100px;
}

.indicator-group {
    margin-top: 20px;
    border-top: 1px solid #000;
}

    .indicator-group:nth-of-type(1) {
        border-top: none;
    }

.calculation-type {
    margin: 10px;
}

.indicator {
    border-top: 1px solid #ddd;
}

.indicator {
    display: flex;
}

.indicator-group-row {
    display: flex;
    align-items: center;
}

.center-align {
    display: flex;
    align-items: center;
}

.view-calculation {
    margin: 5px;
    margin-top: 18px;
}

.view-calculation-btns {
    margin-left: 10px;
    max-width: 117px;
}

    .view-calculation-btns button {
        width: 100%;
    }

.view-calculation-description {
    max-width: 419px;
}
